{% load static %}
<link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">

<p id="aboutsite">
    About us<br>
    This site has been developed by the Write-Up team to post your ideas and thoughts. It is a place to develop
    your short stories or tell yourself how good you are at something or just write your feelings to get relaxed
    by keeping it private. The soul purpose of this website is to make you feel relaxed and creative at the same
    time. We hope you love writing to us and or telling us about gossip or a big event that happened in your
    life.
    This site gives you the feature to post your material either privately or make it available globally.
</p>

<p id="contact">
    Contact - Us
    <br><br>
    <span>
        Email:<br>
        asdigitalserver@gmail.com<br><br>
        <label id="version">Build Number :<br>2022.09.22.0.1</label>
    </span>
</p>

<label id="develop">
    Developed By - <br><br>
</label>
<span id="name">Write-Up<br>Team</span>