<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <!-- <style>
        body{
            background-color: black;
            color: white;
        }
        input,label{
            display: block;
        }
    </style> -->
</head>

<body>
    <form action="./dH" method="post">
        {% csrf_token %}
        {{frm}}
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
<!-- <script>
    el=document.getElementById("id_privacy")
    el.addEventListener('click', function handleClick(event) {
         if(el.value == "1")
         {
            el.value = "0";
         }
         else{
            el.value = "1";
         }
      });
</script> -->
</html>